*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container{
    display:flex;
    justify-content: center;
}


/* HEADER CSS */
header{
    padding: 10px;
    background-color: aqua;
}

.head-container{
    background-color: rgb(244, 156, 156);
    margin: 0 auto;
    width: 80%;

}

.logo{
    flex-grow: 1;
    padding:10px;
    border: 1px black dashed;
}

.menù{
    flex-grow: 3;
    padding: 10px;
    border: 1px black dashed;
   
}

.ul-flex {
    list-style: none;
    display: flex;
    justify-content: center;
}

li{
    margin: 0px 5px;
}

li > a {
    text-decoration: none;
}

.login{
    flex-grow:1;
    text-align: end;
    padding: 10px;
    border: 1px black dashed;
}

/* MAIN WITH 6 SECTIONS CSS */

/* SECTION 1 */

.section{
    padding: 40px 0px;
}

.bluebg{
    background-color: blue;
}

.sec1-box{
    width: 65%;
    background-color: rgb(216, 101, 206);
    height: 500px;
    border: 2px dashed black;
} 

/* SECTION 2-3-4 */

.greybg{
    background-color: rgb(136, 135, 135);
}

.img{
    height: 500px;
    width: 50%;
    background-color: rgb(101, 126, 227);
    border: 2px dashed black;
}

.text{
    height: 500px;
    width: 30%;
    background-color: rgb(238, 189, 234);
    border: 2px dashed black;

}

/* SECTION 5 */

.sec5-box{
    width: 80%;
    height: 1000px;
    background-color: green;
    border: 2px dashed black;
}

/* SECTION 6 */

.blackbg{
    background-color: rgb(19, 33, 24);
}

.sec6-box1{
    border: 2px dashed black;
    width: 20%;
    height: 700px;
    background-color: rgb(240, 86, 86);
}

.sec6-box2{
    border: 2px dashed black;
    width: 60%;
    height: 700px;
    background-color: aquamarine;
}

.item1{
    /* background-color: bisque; */
    border: 2px dashed white;
    width: 100%;
    height:700px;
}

.item2{
    /* background-color: rgb(165, 115, 55); */
    border: 2px dashed white;
    width: 100%;
    height: 700px;
}

.item3{
    /* background-color: rgb(234, 156, 61); */
    border: 2px dashed white;
    width: 100%;
    height: 700px;
}

.item4{
     border: 2px dashed white;
    width: 100%;
    height: 700px;
}


/* FOOTER */

.bar {
    height: 2px;
    background-color: white;
}

footer{
    padding-top: 30px;
    background-color: rgb(19, 33, 24);
}


.footer-container{
    background-color: aquamarine;
    width: 80%;
    height: 50px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    border: 2px dashed black;
}

.logo2{
    margin: 10px 10px 10px 0px;
    background-color: salmon;
    border: 2px dashed black;
}

.button{
    margin: 10px 0px 10px 10px;
    background-color: salmon;
    border: 2px dashed black;
}





