*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container{
    display:flex;
}

.container {
    width: 80%;
    margin: auto;
}


/* HEADER CSS */
header{
    padding: 10px;
    background-color: aqua;
}

.head-container{
    background-color: rgb(244, 156, 156);
}

.logo{
    flex-grow: 1;
    padding:10px;
    border: 1px black dashed;
}

.menù{
    flex-grow: 3;
    padding: 10px;
    border: 1px black dashed;
   
}

.ul-flex {
    list-style: none;
    display: flex;
    justify-content: center;
}

li{
    margin: 0px 5px;
}

li > a {
    text-decoration: none;
}

.login{
    flex-grow:1;
    padding: 10px;
    border: 1px black dashed;
}

/* MAIN WITH 6 SECTIONS CSS */

/* SECTION 1 */

.section1{
    background-color: blue;
}

.sec1-box{
    width: 80%;
    background-color: rgb(216, 101, 206);
    height: 200px;
}





